<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="css/styles.css")
    body
        h1 요청하신 작업을 수행할 수 없습니다.
        form(action="/postList", method="get")
            input(type="submit" valus="HOME")